*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body{
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #333;
    color: white;
}
#main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    gap: 15px;
}
.card{
    border: solid 1px ;
    border-radius: 8px;
    box-shadow: wheat 2px 5px 10px;
    margin-top: 0 20px;
    padding: 2px;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition-property: all;
    transition-duration: 0.5s;
    animation: name;
}
.card:hover{
    background-color: rgba(165, 42, 42, 0.333);
    height: 210px;
    scale: 1.05;
    transition: all 0.8s ;
    box-shadow: wheat 20px ;

}
.card:nth-child(2):hover + .card , .card:nth-child(1):hover + .card{
    translate: 10px;
}
#main:has(>.card:nth-child(2):hover)>.card:nth-child(1){
    translate: -7px;
}
#main:has(>.card:nth-child(3):hover)>.card:nth-child(2){
    translate: -7px;
}